@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('~assets/fonts/AbrilFatface-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('~assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('~assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

.afr {
    font-family: 'AbrilFatface-Regular';
}

.pdi {
    font-family: 'PlayfairDisplay-Italic';
}

body
{
    font-family: Helvetica, Sans-Serif;
}

html,body, #__nuxt, #__layout{
    height:100%!important;
    width: 100%!important;
  }